n8n workflows/JD and Resume Analysis.json
{
  "name": "JD and Resume Analysis",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n\n  const jd = item.json.JD || \"\";   \n\n  const resume_url =\n    Array.isArray(item.json.Resume)\n      ? item.json.Resume[0]        \n      : item.json.Resume || \"\";\n\n  if (!jd || !resume_url) {\n    return {\n      json: {\n        pageId: item.json.id,\n        skip: true,\n        error: \"Missing JD or Resume URL\",\n        debug: {\n          jd,\n          resume: item.json.Resume\n        }\n      }\n    };\n  }\n\n  return {\n    json: {\n      jd,\n      resume_file: resume_url,\n      pageId: item.json.id\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        -176
      ],
      "id": "b5a6ac84-9d1f-4194-975b-a81b56856220",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "={{ $json.resume_file }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        -176
      ],
      "id": "1c125778-d802-49cc-9836-9e3bb8451acf",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        832,
        -176
      ],
      "id": "e3e9d0e8-7f46-4749-8d58-36680b055ff6",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  return {\n    json: {\n      pageId: item.json.pageId,\n      name: item.json.name,\n      jd: item.json.jd,\n\n      // extracted resume text\n      resume_text: item.json.text\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        -176
      ],
      "id": "7aa2683c-d943-4783-b9ca-046df55f2cce",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a product hiring assistant."
            },
            {
              "content": "=JOB DESCRIPTION:\n{{$json.jd}}\n\nRESUME:\n{{$json.resume_text}}\n\nYou are an expert hiring analyst.\nRules:\n- If JD contains responsibilities, you MUST infer skills from them.\n- Do NOT leave jd_skills empty if JD is provided.\n- Convert responsibilities into skills.\n- Example:\n  \"conduct market research\" → \"market research\"\n  \"analyze data\" → \"data analysis\"\n- Always extract at least 5–15 skills from JD.\n- Do not hallucinate unrelated skills, but inference from actions is REQUIRED.\nSteps:\n\n1. Extract Job Description skills and categorize into:\n   - technical_skills\n   - tools\n   - soft_skills\n\n2. Extract Resume skills in the same categories.\n\n3. Identify skill_gaps:\n   - Skills present in JD but missing or weak in Resume\n   - Only include meaningful gaps (not trivial ones)\n\n4. Suggest improvements:\n   - Must be actionable and specific\n   - Focus on measurable improvements (projects, tools, experience)\n\n5. Generate exactly 5 interview_questions:\n   - 2 technical (based on JD)\n   - 2 gap-based (target missing skills)\n   - 1 resume deep-dive question\n\nOutput Requirements:\n- Output MUST be valid JSON\n- No markdown, no explanations, no extra text\n- All keys must always be present\n\nReturn JSON:\n\n{\n  \"jd_skills\": {\n    \"technical_skills\": [],\n    \"tools\": [],\n    \"soft_skills\": []\n  },\n  \"resume_skills\": {\n    \"technical_skills\": [],\n    \"tools\": [],\n    \"soft_skills\": []\n  },\n  \"skill_gaps\": [],\n  \"improvements\": [],\n  \"interview_questions\": []\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        1280,
        -176
      ],
      "id": "b0d85a18-bdf3-408e-8507-09c61bde8d3d",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "qaQvllYuWZWrlKmT",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = $json.output?.[0]?.content?.[0]?.text || \"\";\n\nconst clean = raw.replace(/```json|```/g, \"\").trim();\n\nlet parsed = {};\ntry {\n  parsed = JSON.parse(clean);\n} catch (e) {\n  return {\n    json: {\n      pageId: $json.pageId,\n      name: $json.name,\n      error: \"JSON parse failed\",\n      raw\n    }\n  };\n}\n\nconst safeArray = val => Array.isArray(val) ? val : [];\n\nconst jdSkills = [\n  ...safeArray(parsed.jd_skills?.technical_skills),\n  ...safeArray(parsed.jd_skills?.tools),\n  ...safeArray(parsed.jd_skills?.soft_skills)\n];\n\nconst resumeSkills = [\n  ...safeArray(parsed.resume_skills?.technical_skills),\n  ...safeArray(parsed.resume_skills?.tools),\n  ...safeArray(parsed.resume_skills?.soft_skills)\n];\n\nreturn {\n  json: {\n    pageId: $json.pageId,\n    name: $json.name,\n\n    jd_skills: jdSkills.join(\", \"),\n    resume_skills: resumeSkills.join(\", \"),\n    skill_gaps: safeArray(parsed.skill_gaps).join(\", \"),\n    improvements: safeArray(parsed.improvements).join(\"\\n\\n\"),\n    questions: safeArray(parsed.interview_questions).join(\"\\n\\n\")\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        -176
      ],
      "id": "73381c49-dc58-4e0f-bd8c-266d843ccc94",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Code in JavaScript').item.json.pageId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "JD Skills|rich_text",
              "textContent": "={{ $json.jd_skills }}"
            },
            {
              "key": "Resume Improvements|rich_text",
              "textContent": "={{ $json.improvements }}"
            },
            {
              "key": "Resume Skills|rich_text",
              "textContent": "={{ $json.resume_skills }}"
            },
            {
              "key": "Skill Gaps|rich_text",
              "textContent": "={{ $json.skill_gaps }}"
            },
            {
              "key": "Interview Questions|rich_text",
              "textContent": "={{ $json.questions }}"
            },
            {
              "key": "Status|select",
              "selectValue": "Applied"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1856,
        -176
      ],
      "id": "b2cde02f-135c-48c6-acf4-b7bc8437dbe7",
      "name": "Update a database page",
      "credentials": {
        "notionOAuth2Api": {
          "id": "va1xVd6wsZbaER39",
          "name": "Notion OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9d63bee6-449b-4e24-b272-8631ddc52ead",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Applied",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "a38f2fc5-08e3-4291-a938-bed85b30ce67",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        160,
        -176
      ],
      "id": "69ede83e-f019-4a4a-8db1-c3794fc634aa",
      "name": "Filter"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "oAuth2",
        "databaseId": {
          "__rl": true,
          "value": "353346a3-c7c1-8041-b4a0-c738b08647e8",
          "mode": "list",
          "cachedResultName": "Applications",
          "cachedResultUrl": "https://www.notion.so/353346a3c7c18041b4a0c738b08647e8"
        }
      },
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        -176
      ],
      "id": "453e1395-c176-4b41-904d-271afbfacde4",
      "name": "Notion Trigger",
      "credentials": {
        "notionOAuth2Api": {
          "id": "va1xVd6wsZbaER39",
          "name": "Notion OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "36b7fedc-e68f-48e6-8041-67bb9c016091",
              "leftValue": "={{ $json.JD }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "42032b08-b7e5-4743-9cdd-1256d6bbee1d",
              "leftValue": "={{ $json.Resume }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "43aef3c8-48d6-419a-9cd5-35c7c61a9756",
              "leftValue": "={{ $json.Company }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "81f56d4c-4adb-469e-badc-33610cda55a7",
              "leftValue": "={{ $json.Role }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -64,
        -176
      ],
      "id": "e51dfce5-2072-4495-b1d6-ecfc04e5f353",
      "name": "Filter1"
    }
  ],
  "pinData": {},
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Update a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Trigger": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "44e2dc6f-1785-499b-9249-558d6e066142",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "10d88cfd8ab40bdf225445846d74e59118e8724c0b4d65956007c08c7934ba05"
  },
  "id": "bLAJqEeK3KQ3ywco",
  "tags": []
}
